* {
    margin: 0;
    border: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

div#canvas-frame {
    position: absolute;
    width: 100%;
    height: 100%;
}

.GameCanvas {
    position: absolute;
}

#LifeCanvas {
    z-index: 5;
}

#ComboCanvas{
    z-index: 5;
}